/**/
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*parte del formato en comun entre el header y footer*/
header, footer {
    background-color:cadetblue;
    color: white;
    padding: 15px;
}
/*parte de formato del header de todas las paginas*/
header {
    position:fixed;
    top: 0;
    text-align:right;
    width: 99%;
}

/*parte del formato del footer de todas las paginas*/
footer {
    position:static;
    bottom: 0;
    text-align:center;
    width: 100%;
}
/*este es el formato de lo que esta en el centro del la pagina*/
main {
    padding-top: 100px;   /* espacio por el header fijo */
    padding-bottom: 60px; /* espacio por el footer fijo */
    text-align:center;
}
/*Formato de de la palabas "Inicio de sesion" y "Registro"*/
header a {
    color:azure;
    margin: 10px;
    text-decoration: none;
    font-weight:bolder
}

/*formato del header para que las palabras se pinten de negro y se subrayen cada vez que el cursor esta encima*/
header a:hover {
    text-decoration: underline;
    color: black;
}

/*formato de la imagen en la pagina del inicio*/
img {
    max-width: 700px;
    height: auto;
}

/*formato del formulario*/
form {
    display: inline-block;
    text-align: left;
    margin-top: 0%;
}


form label, form input {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    width: 250px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
