body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color:tan;
    color: white;
    text-align: center;
    padding: 15px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding-top: 80px;   /* espacio por el header fijo */
    padding-bottom: 60px; /* espacio por el footer fijo */
    text-align: center;
}

header a {
    color:gainsboro;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

img {
    max-width: 400px;
    height: auto;
}

form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

form label, form input {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    width: 250px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
