header{
    text-align: right;
    color: blue;
    margin-top: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: burlywood;
    padding: 15px;
    width: 99;

}

footer{
    text-align: center;
}